<div class="back">
    <div class="main">
        <h1 class="header">Baasti's amazing Spell point calculator</h1>
        <div class="content">
            <div class="calculator">
                <div class="lvl">
                    <h4>Level:</h4>
                    <input type="number" min="1" max="20" step="1" [(ngModel)]="level" (input)="levelReset()">
                </div>
                <div class="nums">
                    <div>
                        <h4>Current</h4>
                        <input type="number" step="1" min=0 [max]="max" [(ngModel)]="current" >
                    </div>
                    <span>/</span>
                    <div>
                        <h4>Max</h4>
                        <input type="number" step="1" min="0" [(ngModel)]="max" (input)="reset()">
                    </div>
                </div>
                <div class="mngBtns">
                    <button (click)="reset()">Reset Points</button>
                </div>
                <div class="castBtns">
                    <button (click)="cast(n)"
                        *ngFor="let n of [0,1,2,3,4,5,6,7,8]"
                        [disabled]="current < levelPoints[n] || !fullCaster[level-1][n]"
                    >Cast {{n + 1}}</button>
                </div>
            </div>
            <div class="pointTable">
                <ul>
                    <li>Level 1 Spellslot - 2</li>
                    <li>Level 2 Spellslot - 3</li>
                    <li>Level 3 Spellslot - 5</li>
                    <li>Level 4 Spellslot - 6</li>
                    <li>Level 5 Spellslot - 7</li>
                    <li>Level 6 Spellslot - 9</li>
                    <li>Level 7 Spellslot - 10</li>
                    <li>Level 8 Spellslot - 11</li>
                    <li>Level 9 Spellslot - 13</li>
                </ul>
            </div>
        </div>
        <h1 class="header"><span>Baasti's amazing Spell point calculator</span></h1>
    </div>
</div>